.map{
	height: 80vh;
}

/* pops up */

.pu{
	font-size: 14px;
}

.pu_title{
	font-weight: var(--strong);
}

.pu_url a{
	text-decoration: none;
	color:var(--theme);
}

.pu_url a:hover{
	text-decoration: underline;
}

.map_link{
	font-size:13px;
	text-decoration: none;
	display: flex;
	gap:4px;
	align-items: center;
}

.map_link svg{
	height:18px;
	width: auto;
}

#map *{
	box-sizing: initial !important;
}

.map_typeahead {
    padding: 0.5rem;
    background-color: var(--grey-very-light);
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    gap: 8px;
}

.map_typeahead input {
	border: 2px solid var(--theme);
	border-radius: 16px;
	padding: 4px 8px;
	min-width: 160px;
}