

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
    height:auto;
    padding: 10px 10px;
    margin-top:2px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 1; }
      .hamburger:hover .hamburger-inner,
    .hamburger:hover .hamburger-inner::before,
    .hamburger:hover .hamburger-inner::after {
      background-color: var(--red); }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: var(--red); }
  
  .hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
  
  .hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px; }
    .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
      width: 40px;
      height: 4px;
      background-color: var(--red);
      border-radius: 1px;
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease; }
    .hamburger-inner::before, .hamburger-inner::after {
      content: "";
      display: block; }
    .hamburger-inner::before {
      top: -10px; }
    .hamburger-inner::after {
      bottom: -10px; }
  
  
  /*
     * Spin
     */
  .hamburger--spin .hamburger-inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--spin .hamburger-inner::before {
      transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
    .hamburger--spin .hamburger-inner::after {
      transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--spin.is-active .hamburger-inner {
    transform: rotate(225deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--spin.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
    .hamburger--spin.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  
.menu-label {
  line-height: 1;
  color: var(--theme);
  font-weight: var(--strong);
  color:var(--accent);
  padding: 0 0 0 0.5rem;
  min-width: 74px;
  transition:var(--transition);
}

#hambutt:hover .menu-label{
  color:var(--red);
  transition:var(--transition);
}

#hambutt:focus .menu-label {
  color:white;
  transition:var(--transition);
}

/* top nav */
.topnav{
  display: none;
  padding:1rem 0 0 0 ;
  align-items: center;
  min-height: 60px;
}

@media(min-width: 1200px ){

  .topnav{
    display: flex;
  }

}

.topnav-link,
.search-link{
  font-weight: var(--strong);
  font-size: 1.125rem;
  margin-right:2rem;
  padding-bottom: 4px;
  text-decoration: none;
}

.search-link{
  margin-right: 0;
  display: flex;
  justify-content: center;
  padding:10px;
}

.search-icon{
  margin-top:0.1rem;
  margin-right:0.5rem;
}

.topnav-link-active,
.topnav-link:hover,
.topnav-link:focus{
  color:white;
  border-color: var(--red);
}

/* breadcrumbs */

.cakes{
  padding-left:0;
  margin-bottom: 2rem;
}

.breadcrumbs{
  padding:0;
  margin:0 0 1rem 0;
  font-size:0.9rem;
  font-weight: var(--weight-mid);
}

.breadcrumb-list{
  padding:0;
  margin:0 0 0.2rem 0;
}

.breadcrumbs ol{
  margin-bottom:0;
}

.breadcrumbs li{
  display: inline-block;
  padding-bottom:0;
}

.breadcrumb-link{
  background-color:transparent;
  padding: 0.2rem !important;
  text-decoration: underline;
}

.breadcrumb-separator{
  padding:0 0.2rem 0 0.3rem;
}

.breadcrumb-separator::after{
  content: '/';
}

/* nav */

.brsa_nav a{
  display: flex;
  text-decoration: none;
  padding:0.25rem 1rem;
  font-size: 1.3125rem;
  font-weight: var(--strong);
  background-color: var(--theme);
  color:white;
  margin-bottom: 1rem;
}

.brsa_nav a:hover,
.brsa_nav a:focus{
  background-color: var(--dark);
}

.topnav .nav-item a{
  align-items: center;
  justify-content: center;
}


#millconav .nav-level-1 a{
  border-bottom: 2px solid white;
  font-size: 2rem;
  color: var(--purple);
  padding:1rem 1rem 1rem 0;
}

.subnav{
  padding-left:2rem;
}

#millconav .nav-level-1 .nav-level-2 a{
  border-bottom:0;
  font-size: 1.3125rem;
  padding:0.75rem 1rem 0.25rem 0;
}


@media(min-width: 992px ){
  .nav-grid{
    display: flex;
  }
}


.nav-grid .nav-item{
  flex:1;
}

.nav-indent{
  padding-left:1rem;
  border-left:2px solid var(--mauve);
}

.nav-indent .nav-item a{ 
  padding:0.25rem 0;
}

.fn-grid{
  display: flex;
  flex-wrap: wrap;
}

.fn-link{
  display: block;
  width:100%;
  text-align: center;
  padding:0 0 0 0.5rem;
  margin: 0 0 0.5rem 0.5rem;
  color:white;
  text-decoration: none;
}



@media(min-width: 992px ){
  .fn-link{
    display: inline-block;
    border-left:1px solid var(--red);
    width:auto;
  }

  .fn-link_first{
    border:0;
    margin-left:0;
    padding-left: 0;
  }
}


